:root {
    --dark-gray: #5B5858;
    --ligth-gray: #F8F9FA;
    --gray: #E5E5E5;
    --blue: #1B72E8;
    --dark-blue: #051E34;
}


#app {
	background-color: #f8f9fa;
}

:is(.header__toolbar, .sidebar) ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

/* ----HEADER----- */
.header__toolbar {
	height: 70px;
}

.header__toolbar > * {
	background-color: white;
}

.header__logo-mobile {
    width: 50px;
}

.header__search {
	position: relative;
	margin: 10px 0;
}

.header__search i {
	position: absolute;
	top: 50%;
	left: 20px;
	color: var(--dark-gray);
	transform: translateY(-50%);
	pointer-events: none;
	font-size: 16px;
}

.header__search input {
    height: 42px;
	background-color: var(--gray);
	border-radius: 10px;
	width: 100%;
	border: none;
	padding-left: 42px;
}

.header__search input:focus-visible + i {
	/* color: blue; */
	display: none;
}

ul li a {
    color: currentcolor;
    text-decoration: none;
}

.header__list {
	display: flex;
	justify-content: center;
	gap: 12px;
	align-items: center;
	list-style: none;
	padding: 0;
}

.header__list .header__circle > a {
	color: currentColor;
	width: 30px;
	aspect-ratio: 1/1;
	border: 1px solid;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
    color: white;
    background-color: var(--dark-gray);
}


.header__bell {
    color: #FF8F00;
}

/* ------SIDEBAR------ */
.sidebar {
	width: 70px;
	background-color: #051e34;
	background-image: url('../img/sidebar-bg.png');
	background-repeat: no-repeat;
}

.sidebar nav,
.sidebar nav > ul {
	display: contents;
}

.sidebar li {
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
}

.sidebar li i{
    padding-right:  12px;
    align-self: center;
}





/* -----MAIN----- */
main {
    background-color: var(--gray);
    height: calc(100vh - 50px)
}


/* -----Main-HEADER----- */
.main__header {
    background-color: var(--blue);
}




/* -----MAIN-BODY----- */


















/* -----MAEDIA QUERY------- */

/* TABLET */

@media (min-width: 768px) {

    .new-student {
        order: 2;
        justify-content: flex-end;
    }
}



/* DESKTOP */

@media (min-width: 992px) {
	.sidebar {
		width: 150px;
	}

    .sidebar li {
        display: flex;
        justify-content: left;
    }

    
}

